<div class="container">
    <div class="row">
        <div class="col-12 d-flex py-4">
            <a class="navbar-brand font-a mr-auto p-0 text-secondary" href="{{ path('index') }}">Ауди Сочи</a>
            <img class="pull-right" src="{{ asset('img/logo.png') }}"/>
        </div>
    </div>
    <div class="row d-none d-md-block">
        <div class="col-12">
            <h6 class="my-4">Оригинальные запчасти Audi</h6>
            <hr class="m-0">
        </div>
    </div>
    <hr class="d-block d-md-none row">
</div>
<nav id="mainNav" class="navbar navbar-expand-md navbar-light px-0">
    <div class="container">
        <button class="navbar-toggler border-0 mx-2 mb-3" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> Меню
        </button>
        <div class="collapse navbar-collapse font-a" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('part_index') }}">Запасные части</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('service') }}">Сервис</a>
                </li>
                {#<li class="nav-item">#}
                {#<a class="nav-link" href="/">Новости</a>#}
                {#</li>#}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Поиск</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('part_ticket') }}">Корзина <span class="badge badge-secondary badge-pill" id="basket"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>